@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

html{
    height: 100%;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100%;
}

footer{margin-top:auto;}

/*-----------------compu + de 770 px-----------------------*/

/*------ index -----*/

.header {
    width: 100vw;
    height: 120px;
    background-color: #726A6a;
    font-family: roboto, sans-serif;
    margin-bottom: 50px;

    display: inline-block;
}

.container {
    width: 100%;
    height: 120px;
    margin-left: 0px;
    margin-right: 15px;

}

.container-header {
    width: 100%;
    height: 120px;
    margin-left: 0px;
    margin-right: 15px;

}

.title {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 17px;
    color: #b9a9a9;
}

.logo {
    float: left;
}

.logo-img-sup {
    margin-top: 5px;
    margin-left: 10px;
    width: 90px;
    height: 90px;
}

.title {
    width: 180px;
    height: 150px;
    float: left;
}

.title h1 {
    text-align: left;
    font-size: 30px;
    margin-top: 20px;
    -webkit-text-stroke: 2px rgb(34, 31, 31);
}

.nav_img {
    display: none;
}

.logo-img {
    display: none;
}

.nav_input {
    display: none;
}

.bar-menu {
    list-style: none;
    float: right;
    margin-right: 20px;
}

li:hover {
    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform-origin: center;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.nav_item:hover {
    color: #fff;
}

.bar-menu ul li {
    margin-top: 40px;
    list-style: none;
    float: left;
    text-align: center;
    margin-right: 15px;
    font-size: 25px;
    font-weight: bold;
}

.bar-menu ul li a {
    text-decoration: none;
    color: #000000;
}

.img-responsive {
    display: none;
}

/*-----------------Inicio Nosotros---------------*/


.main-nosotros{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
  }
  
  .figura1 {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-image: url(../img-nosotros/fotovieja_1.jpg);;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .figura2 {
  
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-image: url(../img-nosotros/fotovieja_2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .figura3 {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-image: url(../img-nosotros/fotovieja_3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .figura1::before,
  .figura1::after {
    --scale: 0;
    --arrow-size: 20px;
    --tooltip-color: rgb(139, 136, 136);
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
  }
  .figura2::before,
  .figura2::after {
    --scale: 0;
    --arrow-size: 20px;
    --tooltip-color: gray;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
  }
  .figura3::before,
  .figura3::after {
    --scale: 0;
    --arrow-size: 20px;
    --tooltip-color: gray;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
  }
  .figura1::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    color: rgb(190, 161, 161);
    align-items: center;
    text-align: center;
    width: max-content;
    height: 100px;
    width: 300px;
  }
  
  .figura2::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    font-family: roboto, arial, helvetica;
    font-size: 15px;
    color: rgb(168, 115, 115);
    align-items: center;
    text-align: center;
    width: max-content;
    height: 100px;
    width: 300px;
  }
  .figura3::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    font-family: roboto, arial, helvetica;
    font-size: 15px;
    color: rgb(168, 115, 115);
    align-items: center;
    text-align: center;
    width: max-content;
    height: 100px;
    width: 300px;
  }
  .figura1:hover::before,
  .figura1:hover::after {
    --scale: 1.1;
  }
  .figura2:hover::before,
  .figura2:hover::after {
    --scale: 1.1;
  }
  .figura3:hover::before,
  .figura3:hover::after {
    --scale: 1.1;
  }
  .figura1:hover {
    cursor: pointer;
  }
  .figura2:hover {
    cursor: pointer;
  }
  .figura3:hover {
    cursor: pointer;
  }


/*--------------------Fin Nosotros---------------*/


/*----------------inicio tienda------------------*/


.main-tienda {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


.tienda-contenedor-1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #52636e;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.tienda-contenedor-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #505b66;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.tienda-contenedor-3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #52636e;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.tienda-contenedor-4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #515b66;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.img-bolsa-1-1 {
    background-image: url(../img-tienda/bolsa_coffee_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 250px;
}

.comentario-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
    font-size: 20px;
}

.img-bolsa-1-2 {
    background-image: url(../img-tienda/bolsa_coffee_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 250px;
}

.comentario-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
    font-size: 20px;
}

.img-bolsa-1-3 {
    background-image: url(../img-tienda/bolsa_coffee_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 250px;
}

.comentario-1-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
    font-size: 20px;
}

.img-bolsa-1-4 {
    background-image: url(../img-tienda/bolsa_coffee_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 250px;
}

.comentario-1-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
    font-size: 20px;
}

.btn-compra-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    font-size: 20px;
}

.btn-compra-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    font-size: 20px;
}

.btn-compra-1-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    font-size: 20px;
}

.btn-compra-1-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    font-size: 20px;
}

.btn-compra {

    background-image: url(../img-tienda/boton-compra-rec.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #34725f;
    border-radius: 5px;
    height: 70px;
    width: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 7px 13px 70px #000;
}

.btn-compra:hover {
    cursor: pointer;
}

/*------------------fin tiendad------------------*/



/*----------------body Index---------*/
.index {
    background-image: url(../img-background/fondoIndex.jpg);
    background-repeat: no-repeat;
    background-position: contain;
}

.registrate {
    background-image: url(../img-background/fondoRegistrate.jpg);
    background-repeat: no-repeat;
    background-position: contain;
}

/*.nosotros {
    background-color: rgb(99, 102, 105);
    background-repeat: no-repeat;
    background-position: contain;
}*/

/*--------Inicio Main boostrap---------*/
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

main .Form {
    background-color: #384a5c;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    margin-top: 50px;
    width: 30%;
    height: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 7px 13px 30px #000;

}
.text-form{
    font-size: 30px;
    font-family: 'roboto', sans-serif;
    color: #fff;
}
.mb-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

.mb-3 .form-control {

    margin-bottom: 10px;
    width: 70%;
    align-items: center;
}

.form-label {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
}

.mb-3 .form-control {
    justify-content: center;
}

.boton-enviar {
    font-family: 'roboto', sans-serif;
    width: 100px;
    height: 35px;
    border: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 7px 13px 70px #000;
}

/*--------Final Main boostrap---------*/

/*----------------Inicio Grid de Reservas------------------------*/
.reservas{
   background-color: hsl(29, 44%, 73%);
  
}
.main-mesas {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;

}

.titulo-mesas {
    font-family: 'roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grid-container-mesas {

    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, .9fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 25px;
    padding: 20px;
    justify-content: space-around;
}

.item1 {
    background-image: url(../img-reservas/work-table.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item2 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item3 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item4 {
    background-image: url(../img-reservas/work-table.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item5 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item6 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item7 {
    background-image: url(../img-reservas/work-table.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item8 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item9 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item10 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item11 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

.item12 {
    background-image: url(../img-reservas/table-of-four.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: space-between;
    align-items: center;
}

div .btn-reserva {
    display: flex;
    width: 70px;
    height: 30px;
    background-color: rgb(182, 204, 224);
    font-size: 14px;
    font-family: sans-serif;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-style: none;
}

.btn-reserva:hover {
    cursor: pointer;
    color: rgb(27, 128, 175);
    background-color: #fff;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
}

/*----------------Fin Grid de Reservas------------------------*/

/*---Footer----*/

footer {
    background-color: #726A6A;
    /*margin-top: 50px;*/
    width: 100%;
    height: 70px;
    bottom: 0;
   /* position: relative;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mail {
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 45px;
}

.nombre {
    width: 200px;
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 5px;
}

.nombre h3 {
    font-family: 'roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    margin-right: 0px;
    margin-top: 10px;
    float: left;
}

.img-footer {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 0px;
    margin-bottom: 50px;
}


/*------ reduccion de menu-------*/
@media (min-width: 770px) and (max-width:1000px) {

   /* .bar-menu ul li {
        margin-top: 40px;
        list-style: none;
        float: left;
        text-align: center;
        margin-right: 10px;
        font-size: 20px;
        font-weight: bold;
    }*/
}

/*------------------*/
/*   movil - tablet */
/*------------------*/

@media (min-width: 310px) and (max-width:768px) {

    header {
        background-color: #726A6A;
        width: 100%;
        height: 90px;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        display: none;
    }

    .title {
        width: 200px;
        height: 70px;
        margin-left: 5px;
        margin-top: 5px;
        color: #c0a6a6;
    }

    .title h1 {
        text-align: left;
        font-family: 'roboto', sans-serif;
        font-size: 25px;
        margin-top: 5px;
        -webkit-text-stroke: 1px rgb(34, 31, 31);
    }

    .title h3 {
        color: #fff;
        font-family: 'roboto', sans-serif;
        -webkit-text-stroke: 1px rgb(34, 31, 31);

        align-items: left;
    }

    .nav_img {
        width: 80px;
        text-align: left;
        font-family: 'roboto', sans-serif;
        font-size: 20px;
        margin-top: 5px;
        text-align: right;
        -webkit-text-stroke: 1px rgb(34, 31, 31);
    }

    .nav_img {
        display: flex;
        width: 50px;
        height: 50px;
    }

    .nav_input {
        display: none;
    }

    ul {
        list-style-type: none;
    }

    li a {
        align-items: center;
    }

    .nav_item {
        font-family: 'roboto', sans-serif;
        font-size: 30px;
        color: #fff;
        text-align: center;
    }

    .bar-menu {

        background-color: #726A6A;
        position: fixed;
        top: 89px;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 1.5s;
        -webkit-transition: clip-path 1.5s;
        -moz-transition: clip-path 1.5s;
        -ms-transition: clip-path 1.5s;
        -o-transition: clip-path 1.5s;
    }

    .nav-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .nav_input:checked+.bar-menu {
        transition: clip-path 1.5s;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        position: absolute;
    }

    body {
        min-height: 100vh;
        position: relative;
    }
    /*-------- inicio nosotros responsive------------*/
    .figura1 {
        margin-top: 20px;
        width: 300px;
        height: 300px;
        background-image: url(../img-nosotros/fotovieja_1.jpg);;
        background-size: cover;
        background-position: center;
        position:inherit;
      }
      .figura2 {
      
        margin-top: 20px;
        width: px;
        height: 300px;
        background-image: url(../img-nosotros/fotovieja_2.jpg);
        background-size: cover;
        background-position: contain;
        position:inherit;
      
      }
      .figura3 {
        margin-top: 20px;
        width: 300px;
        height: 300px;
        background-image: url(../img-nosotros/fotovieja_3.jpg);
        background-size: cover;
        background-position: contain;
        position:inherit;
      }

      /*-------- fin nosotros responsive------------*/
    
      /*------- body de index--------*/
    .index {
        background-image: url(../img-movil-background/img-back-movil-inicio.jpg);
        background-repeat: no-repeat;
        background-size: cover;
         background-position: center;
    }

    /*------- body de nosotros--------*/
    .nosotros {
        background-repeat: no-repeat;
        background-size: column;
        background-position: contain;
    }

    /*------- body de Reservas--------*/
    .reservas{
        background-color: hsl(29, 51%, 75%);
    }

    main .Form {
       /* background-color: #384a5c;*/
        justify-content: center;
        border-radius: 5px;
        align-items: center;
        margin-top: 50px;
        width: 80%;
        height: 400px;
    }

    .contenedor-nosotros {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;
    }

    .contenedor-nosotros figure {
        margin: 10px;
        position: relative;
        height: 300px;
        cursor: pointer;
        width: 315px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(15, 15, 15, 0.5);
    }

    footer {
        width: 100%;
        height: 82px;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .prueba {
        margin-top: 100px;
        width: 100%;
        height: 300px;
        background-color: #000000;
    }

    .mail {
        font-family: 'roboto', sans-serif;
        color: #fff;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 45px;
    }
    .nombre {
        width: 130px;
        font-family: 'roboto', sans-serif;
        color: #fff;
        font-size: 15px;
        margin-top: 15px;
        margin-left: 5px;
    }
    .nombre h3 {
        font-family: 'roboto', sans-serif;
        color: #fff;
        font-size: 15px;
        margin-right: 0px;
        margin-top: 10px;
        float: left;
    }
    .img-footer {
        width: 40px;
        height: 40px;
        float: right;
        margin-left: 0px;
        margin-bottom: 50px;
    }
}