
//hover en li de menu
li:hover {

    transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform-origin: center;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;

}

//hover color en li index
.index {
    .nav_item:hover {
        color: #fff;
    }
}

//hover color en li nosotros
.nosotros {
    .nav_item:hover {
        color: #fff;
    }
}

.main-nosotros {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.figura1 {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-image: url(../img-nosotros/fotovieja_1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.figura2 {

    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-image: url(../img-nosotros/fotovieja_2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.figura3 {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-image: url(../img-nosotros/fotovieja_3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.figura1::before,
.figura1::after {
    --scale: 0;
    --arrow-size: 20px;
    --tooltip-color: rgb(139, 136, 136);
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
}

.figura2::before,
.figura2::after {
    --scale: 0;
    --arrow-size: 20px;
    --tooltip-color: gray;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
}

.figura3::before,
.figura3::after {
    --scale: 0;
    --arrow-size: 20px;
    --tooltip-color: gray;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
}

.figura1::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    color: rgb(190, 161, 161);
    align-items: center;
    text-align: center;
    width: max-content;
    height: 100px;
    width: 300px;
}

.figura2::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    font-family: roboto, arial, helvetica;
    font-size: 15px;
    color: rgb(168, 115, 115);
    align-items: center;
    text-align: center;
    width: max-content;
    height: 100px;
    width: 300px;
}

.figura3::before {
    --translate-y: calc(-100% - var(--arrow-size));
    content: attr(data-tooltip);
    font-family: roboto, arial, helvetica;
    font-size: 15px;
    color: rgb(168, 115, 115);
    align-items: center;
    text-align: center;
    width: max-content;
    height: 100px;
    width: 300px;
}

.figura1:hover::before,
.figura1:hover::after {
    --scale: 1.1;
}

.figura2:hover::before,
.figura2:hover::after {
    --scale: 1.1;
}

.figura3:hover::before,
.figura3:hover::after {
    --scale: 1.1;
}

.figura1:hover {
    cursor: pointer;
}

.figura2:hover {
    cursor: pointer;
}

.figura3:hover {
    cursor: pointer;
}
