@import"mixin";
//valores de titulo
@import"valorestitulo";
//valores de encabezado
@import"valorencabezado";


.foot {
    background-color: #726A6A;
    width: 100%;
    height: 150px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include movil {
        background-color: rgb(36, 34, 34);
        width: 100%;
        height: auto;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .nombre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 250px;
        font-family: 'roboto', sans-serif;
        margin-top: 20px;
        margin-left: 5px;

        @include movil {
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 200px;
            font-family: 'roboto', sans-serif;
            margin-top: 15px;
            margin-left: 5px;
        }
    }

    .nombre-h3 {
        font-family: 'roboto', sans-serif;
        color: #fff;
        font-size: 20px;
        margin-right: 0px;
        margin-top: 10px;

        @include movil {
            color: #fff;
            font-family: 'roboto', sans-serif;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            margin-right: 0px;
            margin-top: 20px;
        }
    }

    .redes ul li {
        display: inline-block;
        margin: 0 5px;
        height: 50px;
        text-align: right;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .img-footer {
        width: 40px;
        height: 40px;
        float: right;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 49px;
        @include movil {
            width: 40px;
            height: 40px;
            justify-content: center;
            align-items: center;
            margin-left: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .engranaje {
        margin: 5px 5px;
    }
    .redes ul li {
        display: inline-block;
        margin: 0 5px;
        height: 50px;
        text-align: right;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .mail h4 {
        color: #fff;
        font-family: 'roboto', sans-serif;
        font-size: 20px;
        text-align: center;

        @include movil {
            margin-top: 5px;
            font-size: 15px;
        }
    }
    .sobre-nosotros {
        color: #fff;
        font-family: 'roboto', sans-serif;
        margin-top: 2px;
        font-size: 15px;
    }




}