.header-encabezado {
    width: 100vw;
    height: 120px;
    background-color: #706a6a;
    font-family: roboto, sans-serif;
    margin-bottom: 50px;
    display: inline-block;

}

.container-encabezado {
    width: 100%;
    height: 120px;
    margin-left: 0px;
    margin-right: 15px;
}